    /* Imported Fonts */
    
    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900);
    /* Styling */
    
    html {
    	width: 100%;
    	height: 100%;
    	padding: 0;
    	margin: 0;
    	font-family: 'Source Sans Pro', sans-serif;
    }
    
    body {
    	width: 100%;
    	height: 100%;
    	background: #fff;
    }
    
    a {
    	color: #464F93;
    	text-decoration: none;
    	transition: opacity 0.2s ease-in-out;
    }
    
    a:not(.header_logo):hover {
    	opacity: 0.6;
    }
    
    *:focus {
    	outline: 0;
    }
    
    .page_wrap {
    	width: 100%;
    	height: 100%;
    	padding: 0px;
    	padding: 100px 0 0 0;
    	box-sizing: border-box;
    }
    
    .page_wrap:after {
    	content: '';
    	display: block;
    }
    
    .container {
    	width: 1080px;
    	margin: 0 auto;
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: flex-start;
    	animation: fade 2s ease-in-out, moveUp1 1s ease-in-out;
    }
    
    .container .top_left_link {
    	float: left;
    	margin: 20px 0 0 0;
    	display: inline-block;
    }
    
    .container .top_right_link {
    	display: inline-block;
    	margin: 20px 0 0 0;
    }
    
    .top_links {
    	height: 60px;
    }
    
    .countries {
    	width: 100%;
    }
    
    .countries .wrap {
    	float: left;
    	width: 100%;
    	padding: 10px 80px;
    	height: auto;
    	box-sizing: border-box;
    	border-top: 1px solid #e2e2e2;
    	border-bottom: 1px solid #e2e2e2;
    	margin: 0 0 20px 0;
    	background: white;
    	position: relative;
    }
    
    .countries .wrap ul li {
    	display: inline-block;
    	margin: 0 10px 10px 0;
    }